

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Roboto&display=swap');
/* GENERAL */
*{
    margin: 0;
    padding: 0;
}
.sections-card { font-size: 14px; text-align: center; }
.sections-card a { color: hsl(228, 45%, 44%); }


body{
    font-size: 14px;
    font-family: 'Inter', sans-serif;
  //  background: #212121;


}


